examples/ui-widget-thermometer.json
[
    {
        "id": "7c46b75af3c0f917",
        "type": "tab",
        "label": "UI Widget Thermometer Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c90c8a4caacd57f9",
        "type": "inject",
        "z": "7c46b75af3c0f917",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "c0c9739ba6783ce8"
            ]
        ]
    },
    {
        "id": "c0c9739ba6783ce8",
        "type": "function",
        "z": "7c46b75af3c0f917",
        "name": "",
        "func": "msg.payload = Math.floor(Math.random() * 100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "bc02819ffec4beac"
            ]
        ]
    },
    {
        "id": "bc02819ffec4beac",
        "type": "ui_widget_thermometer",
        "z": "7c46b75af3c0f917",
        "group": "fe8c8f98cc2d3635",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Kitchen",
        "title": "Kitchen Temperature",
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "small",
        "minTemp": 0,
        "maxTemp": 100,
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe8c8f98cc2d3635",
        "type": "ui_group",
        "name": "Home",
        "tab": "30117d749770344e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30117d749770344e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]