examples/ui-widget-thermometer.json
[
    {
        "id": "feeb23345d93ba21",
        "type": "tab",
        "label": "UI Widget Thermometer Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5dd73172be92139",
        "type": "inject",
        "z": "feeb23345d93ba21",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "d7c6e8d8e1722f9d"
            ]
        ]
    },
    {
        "id": "d7c6e8d8e1722f9d",
        "type": "function",
        "z": "feeb23345d93ba21",
        "name": "Random Number",
        "func": "// var precision = 10; // 1 decimals\n// var precision = 100; // 2 decimals\nvar precision = 1000; // 3 decimals\n\n// random num 1 to 100 with decimals\nvar randomNum = Math.floor(Math.random() * (100 * precision - 1 * precision) + 1 * precision) / (1 * precision);\nmsg.payload = randomNum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "dbec0dc2278a5255"
            ]
        ]
    },
    {
        "id": "dbec0dc2278a5255",
        "type": "ui_widget_thermometer",
        "z": "feeb23345d93ba21",
        "group": "fe8c8f98cc2d3635",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Kitchen",
        "title": "Kitchen",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": 100,
        "numberOfDecimals": "3",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe8c8f98cc2d3635",
        "type": "ui_group",
        "name": "Home",
        "tab": "30117d749770344e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30117d749770344e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]